<article>
  <header>
    <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">{{ entry.date.strftime("%d.%m.%Y") }}</time>
    <h1>
      <a href="{{ env.path + entry.permalink }}" rel="bookmark canonical">{{ entry.title }}</a>
    </h1>
  </header>
  {{ entry.content }}
  <footer>
  {% if 'tag' in env.views and entry.tags %}
    <p>Schlagworte:
    {% for link in entry.tags | tagify -%}
      <a href="{{ env.path + link.href }}" rel="tag">{{ link.title }}</a>
      {%- if loop.revindex > 2 -%}
      ,
      {%- elif loop.revindex == 2 %}
        und
      {% endif %}
    {% endfor %}
    </p>
    {% elif not entry.draft %}
      <p>Ohne Schlagworte</p>
    {% endif %}
  </footer>
  <div class="comments">
  {% if env.type == 'entry' and not entry.draft %}
    <h2>Meinungen.</h2>
    <section id="isso-thread"></section>
    <noscript>
      <p>Please enable JavaScript to view the <a href="https://github.com/posativ/isso">comments powered by Isso.</a></p>
    </noscript>
  {% endif -%}
  </div>
</article>
